[Unit]
Description=SaltStack salt-master Prometheus Exporter

[Service]
Type=simple
ExecStart=/opt/saltstack/salt/bin/python3 /opt/saltstack/exporters/master_exporter/exporter.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
